.buttonCustom {
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1.3rem;
  padding: 1rem 0;
  border-radius: 15px;
  // text-transform: uppercase;
  color: white;
  &.main {
    background-color: var(--main);
    &:disabled {
      background-color: var(--main);
      opacity: 90%;
      color: #04070780;
    }
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid var(--light);
  }

  &.userProfile {
    background-color: var(--purple-light);
    color: var(--light);
    font-size: 1rem;
    font-weight: 400;
  }
}
