.terms {
  padding: 1rem 1.5rem;
  overflow-y: scroll;
  color: white;

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 95%;
    // align-items: center;
    padding-top: 1rem;
    margin: 0 auto;
  }
}
