.tabs {
  background-color: var(--purple-dark);
  &__tabBar {
    --background: var(--purple-light);
    --color: var(--light);
    // padding: 1rem 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    --border: none;
    height: 7.5rem;
  }
}
