.mealItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background-color: var(--purple-light);
  width: 80%;
  border-radius: 40px;
  padding: 1rem 0;
  box-shadow: 0 3px 6px #00000020;

  &.prev {
    opacity: 40%;
  }

  &.next {
    background-color: var(--main);
  }

  &__meal {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  &__recipe {
    font-size: 2rem;
  }
}
